*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

/* header */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  column-gap: 2rem;
  background-color: #ff8a5c;
}

.inputs {
  min-width: 20rem;
  max-width: 30rem;
}

.inputs input {
  font-size: 1rem;
}

/* card and remarks */
.card-and-remarks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  padding: 1rem;
  background-color: white;
}

/* student card */
.student-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;

  border: 0.1rem solid white;
  border-radius: 1rem;
  padding: 0.7rem;
  background-color: #fff0ea;
}

.stud-image {
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  background-color: white;

  width: 8rem;
  height: 10rem;
}

.stud-image img {
  object-fit: cover;
  width: 8rem;
  height: 10rem;
}

.stud-info {
  border: 0.1rem solid white;
  background-color: white;
  border-radius: 0.5rem;

  min-width: 30rem;
  max-width: 30rem;
  min-height: 12rem;
  padding: 0.5rem;
}

.stud-info h3 {
  font-size: 1rem;
  border-bottom: 0.04rem solid black;
}

.stud-info span {
  color: #ff5110;
}

/* remarks */
.remarks-container {
  /* border: 0.1rem solid white;
  border-radius: 1rem;
  background-color: #fff0ea;

  padding: 1rem;
  max-height: 15rem;
  overflow-y: scroll; */

  position: relative;
}

.add-remark {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin-right: 2rem;
  margin-top: 1.5rem;

  background-color: #ff5110;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.add-remark img {
  width: 2rem;
  height: 2rem;
}

.add-remark h5 {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  color: white;
}

.all-timelines {
  border: 0.1rem solid white;
  border-radius: 1rem;
  background-color: #fff0ea;

  padding: 1rem;
  max-height: 15rem;
  overflow-y: scroll;
}

.timeline-container {
  display: flex;
  flex-direction: row;
  min-height: 6rem;
}

.timeline {
  position: relative;
  margin-left: 1rem;
}

.verticle-line {
  width: 0.7rem;
  background-color: #ff5a1c;
  height: 100%;
  position: absolute;
}

.point {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 100%;
  background-color: black;
  position: relative;
  box-sizing: border-box;
  border: 0.5rem solid #ff5a1c;
  top: 15%;
  transform: translateY(-50%);
  left: calc(0.1rem - 0.75rem);
}

.timeline-content {
  background-color: white;
  padding: 0.6rem 0.9rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
}

.timeline-content .name {
  font-weight: bold;
  color: #ff5110;
  margin: 0;
}

.timeline-content .status {
  margin: 0.3rem 0 0;
  font-size: 0.8rem;
  color: #000;
}

.copyright-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.copyright-container img {
  width: 1.3rem;
  height: 1.3rem;
}

.copyright-container p {
  margin-top: 0.7rem;
  color: #000;
}

/* performance and attendance tabs */

.performance-and-attendance {
  padding: 1rem;
  max-height: 27rem;
  overflow-y: scroll;
}

.parent-container {
  width: 100%;
  background-color: #fff0ea;
  padding: 1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.container {
  width: 100%;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);

  background-color: white;
  padding: 1rem 0.5rem;
}

.performance-table,
.attendance-table {
  width: 100%;
}

.performance-table th:first-child,
.attendance-table th:first-child {
  width: 25rem;
  font-size: 0.8rem;
}

.performance-table th,
.performance-table td,
.attendance-table th,
.attendance-table td {
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
}

.attendance-table th:first-child {
  width: 25rem;
  font-size: 0.8;
}

.table-bordered th,
.table-bordered td {
  border: 0.1rem solid #dee2e6;
}

.nav-link {
  font-size: 0.9rem;
}

.nav.nav-underline .nav-link.active {
  color: #000;
  border-bottom: 0.25rem solid #ff5110;
}

.nav.nav-underline .nav-link {
  color: #000;
}

.nav.nav-underline .nav-link:hover {
  border-bottom: 0.25rem solid #ff5110;
  color: #000;
}

@media screen and (min-width: 48rem) {
  .card-and-remarks {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .copyright-container p {
    margin-top: 0.9rem;
  }
}

@media screen and (max-width: 51.25rem) {
  .performance-and-attendance {
    max-height: 40rem;
  }
}

@media screen and (max-width: 64rem) {
  .performance-and-attendance {
    max-height: 50rem;
  }
}

@media screen and (min-width: 90rem) {
  .card-and-remarks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    padding: 1rem;
    background-color: white;
  }

  .performance-and-attendance {
    max-height: 45rem;
  }
}
